.grid-container {
	width: 90%;
	margin: 0 5%;
	border: 1px solid green;
	min-height: 100px;
}
.grid-container LABEL {
	display: block;
}
.grid-container-static {
	width: 90%;
	margin: 0 5%;
	border: 1px solid blue;
	min-height: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
td {
	text-align: left;
}